# Local .terraform directories
.terraform

# .tfstate files
*.tfstate
*.tfstate.*
terraform.tfvars*

# temp credentials and configurations for equinix vlan infra
*ansible-hosts*
output.json
*ssh_key*
