[defaults]
inventory = ./ansible-inventory.yaml
# Do not put more jobs here, or ssh will fail
# Anything more than 10 kills this poor server
forks = 10
timeout = 10
retry_files_save_path = /tmp/ansible/retry/

gathering = smart
fact_caching_connection = /tmp/ansible/ansible_facts_cache/
fact_caching = jsonfile
# The timeout is defined in seconds
fact_caching_timeout = 3600

#verbosity = 1

[ssh_connection]
retries=5
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
