{% for vlan in network_configuration.routers.value[inventory_hostname].vlans %}
allow {{ (vlan.subnet + "/" + vlan.mask) | ansible.netcommon.ipaddr('net') }}
{% endfor %}

# Log files location.
logdir /var/log/chrony

local
