######### Network VLANS
{% for vlan in network_configuration.routers.value[inventory_hostname].vlans %}

auto {{ initial_bond_name }}.{{ vlan.vlan_id }}
iface {{ initial_bond_name }}.{{ vlan.vlan_id }} inet static
    address {{ vlan.router_addr }}
    netmask {{ vlan.mask }}
    vlan-raw-device {{ initial_bond_name }}

{% endfor %}
######### End of Network VLANS
