---
- name: Install apt-transport-https
  ansible.builtin.apt:
    name: "apt-transport-https"
    state: present
    update_cache: true

- name: Add Docker APT GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg

- name: Add Docker APT repository
  ansible.builtin.apt_repository:
    repo: "deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release | lower }} stable"
    state: present
    filename: 'docker'

- name: Install docker engine (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: true
    name: docker-ce
    state: present

- name: Hold docker version
  ansible.builtin.dpkg_selections:
    name: docker-ce
    selection: hold

- name: Copy Docker daemon configuration file
  ansible.builtin.template:
    src: "{{ seed_docker_daemon_template }}"
    dest: "/etc/docker/daemon.json"
    mode: 0644
  notify:
    - Restart Docker

- name: Add user to "docker" group
  ansible.builtin.user:
    name: "{{ seed_username }}"
    groups: "docker"
    append: true
  notify:
    - Restart Docker
