---
- hosts: routers
  gather_facts: yes
  become: yes
  roles:
    - role: edge_router
    - role: squid_proxy
    - role: ntp_server
    - role: dhcp_relay
      when: dhcp_servers | length  > 0
- hosts: seed
  gather_facts: yes
  become: yes
  roles:
    - role: docker
    - role: mcc_seed
